<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>REGISTRAR GASTO</title>
    <meta charset="UTF-8">
</head>
<body>

    <header th:replace="plantillas/partes :: cabecero"></header>

    <div style="padding: 10px; background-color: #eee; margin-bottom: 15px;">
        <a th:href="@{/gastos/listar/{cedula}(cedula=${cedula})}" th:text="#{accion.regresar}">REGRESAR</a>
        <h3>REGISTRAR NUEVO GASTO PARA LA CÉDULA: <span th:text="${cedula}"></span></h3>
    </div>

    <div style="padding: 15px; max-width: 500px;">
        <form th:action="@{/gastos/guardar}" th:object="${gasto}" method="POST">
            
            <input type="hidden" th:field="*{id}" />

            <input type="hidden" name="usuarioCedula" th:value="${cedula}" />

            <div style="margin-bottom: 10px;">
                <label th:text="#{fg.fecha}"></label><br>
                <input type="date" th:field="*{fecha}" required style="width: 100%; padding: 6px;" />
                <span th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}" style="color:red;"></span>
            </div>

            <div style="margin-bottom: 10px;">
                <label th:text="#{fg.lugar}"></label><br>
                <input type="text" th:field="*{lugar}" required placeholder="Ej. Centro comercial sanfernando" style="width: 100%; padding: 6px;" />
                <span th:if="${#fields.hasErrors('lugar')}" th:errors="*{lugar}" style="color:red;"></span>
            </div>

            <div style="margin-bottom: 10px;">
                <label th:text="#{fg.descripcion}"></label><br>
                <input type="text" th:field="*{descripcion}" required placeholder="Ej. Compra de papelería etc" style="width: 100%; padding: 6px;" />
                <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}" style="color:red;"></span>
            </div>

            <div style="margin-bottom: 10px;">
                <label th:text="#{fg.ValorSinIVA}"></label><br>
                <input type="number" step="0.01" th:field="*{valorTotalSinIVA}" required style="width: 100%; padding: 6px;" />
                <span th:if="${#fields.hasErrors('valorTotalSinIVA')}" th:errors="*{valorTotalSinIVA}" style="color:red;"></span>
            </div>


            <button type="submit" style="background-color: #7aa3ca; color: rgb(0, 0, 0); padding: 10px 15px; border: none; border-radius: 4px; cursor: pointer;">
                Guardar Gasto
            </button>
        </form>
    </div>

    <footer th:replace="plantillas/partes :: pie"></footer>

</body>
</html>